<a href="https://colab.research.google.com/github/iakshkhurana/UML501-Machine-Learning-Codes/blob/main/Assignment-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
url = "https://books.toscrape.com/"

In [4]:
response = requests.get(url)
html_doc = response.text

In [8]:
soup = BeautifulSoup(html_doc, 'html.parser')

In [10]:
books = soup.find_all("h3")
for book in books:
  print(book.a.get("title"))

A Light in the Attic
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History of Humankind
The Requiem Red
The Dirty Little Secrets of Getting Your Dream Job
The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
The Black Maria
Starving Hearts (Triangular Trade Trilogy, #1)
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Rip it Up and Start Again
Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Olio
Mesaerion: The Best Science Fiction Stories 1800-1849
Libertarianism for Beginners
It's Only the Himalayas

In [13]:
prices = soup.find_all("p", class_="price_color")
for price in prices:
  print(price.text)

Â£51.77
Â£53.74
Â£50.10
Â£47.82
Â£54.23
Â£22.65
Â£33.34
Â£17.93
Â£22.60
Â£52.15
Â£13.99
Â£20.66
Â£17.46
Â£52.29
Â£35.02
Â£57.25
Â£23.88
Â£37.59
Â£51.33
Â£45.17

In [14]:
availability = soup.find_all("p", class_="instock availability")
for avail in availability:
  print(avail.text.strip())

In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock
In stock

In [15]:
stars = soup.find_all("p",class_="star-rating Three")
for star in stars:
  print(star.text)

Question-2

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.imdb.com/chart/top/"
r = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
soup = BeautifulSoup(r.text, "html.parser")

movies = []
rows = soup.select("tbody.lister-list tr")

for i, row in enumerate(rows, start=1):
    title = row.select_one(".titleColumn a").text.strip()
    year = row.select_one(".secondaryInfo").text.strip("()")
    rating = row.select_one(".imdbRating strong").text.strip()
    movies.append([i, title, year, rating])

df = pd.DataFrame(movies, columns=["Rank", "Movie Title", "Year", "IMDB Rating"])
df.to_csv("imdb_top250.csv", index=False)
df.head()

Empty DataFrame
Columns: [Rank, Movie Title, Year, IMDB Rating]
Index: []

In [6]:

import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.timeanddate.com/weather/"
r = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
soup = BeautifulSoup(r.text, "html.parser")

cities = []
# Find ANY table with weather data (look for "°C" or "°F" in it)
tables = soup.find_all("table")
target_table = None
for t in tables:
    if "°C" in t.get_text() or "°F" in t.get_text():
        target_table = t
        break

if target_table:
    for row in target_table.find_all("tr")[1:]:
        cols = row.find_all("td")
        if len(cols) >= 3:
            city = cols[0].get_text(strip=True)
            temp = cols[1].get_text(strip=True)
            cond = cols[2].get_text(strip=True)
            cities.append([city, temp, cond])

df = pd.DataFrame(cities, columns=["City", "Temperature", "Condition"])
df.to_csv("weather.csv", index=False)
df.head()

          City Temperature Condition
0        Accra   बुध 09.23
1  Addis Ababa   बुध 12.23
2     Adelaide   बुध 18.53
3      Algiers   बुध 10.23
4       Almaty   बुध 14.23